/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 35, ../sass/main.scss */
body,
html {
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", "proxima-nova", Helvetica, Arial, sans-serif;
  font-size: 20px;
}
@media screen and (max-width: 1025px) {
  /* line 35, ../sass/main.scss */
  body,
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 767px) {
  /* line 35, ../sass/main.scss */
  body,
  html {
    font-size: 14px;
  }
}

/* line 50, ../sass/main.scss */
h1 {
  margin: 0;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1.2em;
}

/* line 57, ../sass/main.scss */
h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
  color: #3f3f3f;
}

/* line 64, ../sass/main.scss */
h3 {
  margin: 1rem 0;
  font-size: 1rem;
  color: #c1c1c1;
  font-weight: 100;
  font-style: italic;
}

/* line 72, ../sass/main.scss */
h4 {
  font-size: 0.6rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* line 79, ../sass/main.scss */
h5 {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  font-weight: 700;
}

/* line 85, ../sass/main.scss */
p,
ul {
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 1.7rem;
  margin-bottom: 1.5rem;
}

/* line 93, ../sass/main.scss */
a {
  text-decoration: none;
  color: inherit;
}
/* line 97, ../sass/main.scss */
a:hover {
  text-decoration: none;
}

/* line 103, ../sass/main.scss */
.color--blue {
  color: #1eb8f4;
}
/* line 107, ../sass/main.scss */
.color--gray {
  color: #3f3f3f;
}

/* line 112, ../sass/main.scss */
em {
  font-style: italic;
}

/* line 116, ../sass/main.scss */
strong {
  font-weight: 700;
}

/* line 120, ../sass/main.scss */
hr {
  display: block;
  height: 1px;
  margin: 1rem auto;
  padding: 0;
  border: 0;
  border-top: 1px solid #c1c1c1;
}

/* line 129, ../sass/main.scss */
.container {
  width: 75%;
  margin: 0 auto;
}

/* line 134, ../sass/main.scss */
header {
  position: relative;
  width: 100%;
  background-color: #f5f4f4;
  color: #3f3f3f;
}
/* line 140, ../sass/main.scss */
header:before, header:after {
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  opacity: 0.2;
  z-index: 0;
}
/* line 150, ../sass/main.scss */
header:before {
  left: 0;
  background: url(../images/header-head.png) no-repeat;
  background-position: -180px 0;
  height: 23.1rem;
  width: 23.9rem;
}
/* line 158, ../sass/main.scss */
header:after {
  right: 0;
  background: url(../images/header-elli.png);
  height: 21.1rem;
  width: 18.85rem;
}

/* line 166, ../sass/main.scss */
.navbar {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 2rem;
  padding: .5rem 0;
}

/* line 173, ../sass/main.scss */
.nav-list {
  width: 100%;
  color: #c1c1c1;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
/* line 179, ../sass/main.scss */
.nav-list li {
  font-size: 0.6rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* line 187, ../sass/main.scss */
.right-nav {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
/* line 191, ../sass/main.scss */
.right-nav li {
  padding: 0 1rem;
}

/* line 196, ../sass/main.scss */
.scroll-down {
  display: block;
  width: 2.6rem;
  height: auto;
  margin: 0 auto;
  padding: 3.5rem 0;
}

/* line 206, ../sass/main.scss */
section {
  padding: 2rem 0;
}

/* line 210, ../sass/main.scss */
.project {
  margin-bottom: 5rem;
}
/* line 213, ../sass/main.scss */
.project img {
  display: block;
  width: 100%;
  height: auto;
  padding: 0.5rem 0;
}
/* line 220, ../sass/main.scss */
.project .project-hero {
  margin-bottom: 1rem;
  display: block;
  width: 100%;
  height: auto;
  padding: 2rem 0;
}

/* line 231, ../sass/main.scss */
.project-heading {
  margin-top: 2rem;
}

/* line 235, ../sass/main.scss */
.content {
  width: 85%;
}
/* line 238, ../sass/main.scss */
.content ul {
  margin-left: 1rem;
  list-style-type: disc;
  list-style-position: inside;
}

/* line 247, ../sass/main.scss */
footer {
  padding: 2.5rem 0;
  border-top: 5px solid #1eb8f4;
  background-color: #3f3f3f;
}

/* line 253, ../sass/main.scss */
.footer {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}

/* line 259, ../sass/main.scss */
.footer-col {
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center;
}
/* line 265, ../sass/main.scss */
.footer-col h4 {
  color: #c1c1c1;
}
/* line 269, ../sass/main.scss */
.footer-col img {
  width: 1.65rem;
  height: auto;
  padding-right: 0.7rem;
}
