/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 54, ../sass/main.scss */
body,
html {
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", "proxima-nova", Helvetica, Arial, sans-serif;
  font-size: 20px;
}
@media screen and (max-width: 1025px) {
  /* line 54, ../sass/main.scss */
  body,
  html {
    font-size: 17px;
  }
}

/* line 65, ../sass/main.scss */
h1 {
  margin: 0;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1.2em;
}
@media screen and (max-width: 767px) {
  /* line 65, ../sass/main.scss */
  h1 {
    font-size: 1.9rem;
  }
}

/* line 76, ../sass/main.scss */
h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2em;
  color: #3f3f3f;
}
@media screen and (max-width: 767px) {
  /* line 76, ../sass/main.scss */
  h2 {
    font-size: 1.6rem;
  }
}

/* line 88, ../sass/main.scss */
h3 {
  margin: 1rem 0;
  font-size: 1rem;
  line-height: 1.3em;
  color: #c1c1c1;
  font-weight: 100;
  font-style: italic;
}

/* line 97, ../sass/main.scss */
h4 {
  font-size: 0.6rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* line 104, ../sass/main.scss */
h5 {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  font-weight: 700;
}

/* line 110, ../sass/main.scss */
p,
ul {
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 1.7rem;
  margin-bottom: 1.5rem;
}

/* line 118, ../sass/main.scss */
a {
  text-decoration: none;
  color: inherit;
}
/* line 122, ../sass/main.scss */
a:hover {
  text-decoration: none;
}

/* line 128, ../sass/main.scss */
.color--blue {
  color: #1eb8f4;
}
/* line 132, ../sass/main.scss */
.color--gray {
  color: #3f3f3f;
}

/* line 137, ../sass/main.scss */
em {
  font-style: italic;
}

/* line 141, ../sass/main.scss */
strong {
  font-weight: 700;
}

/* line 145, ../sass/main.scss */
hr {
  display: block;
  height: 1px;
  margin: 1rem auto;
  padding: 0;
  border: 0;
  border-top: 1px solid #c1c1c1;
}

/* line 154, ../sass/main.scss */
.container {
  width: 75%;
  max-width: 900px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  /* line 154, ../sass/main.scss */
  .container {
    width: 85%;
  }
}

/* line 164, ../sass/main.scss */
header {
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: #f5f4f4;
  color: #3f3f3f;
}
/* line 171, ../sass/main.scss */
header:before, header:after {
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  opacity: 0.2;
  z-index: 0;
}
/* line 181, ../sass/main.scss */
header:before {
  left: 0;
  background: url(../images/header-head.png) no-repeat;
  background-position: -180px 0;
  height: 23.1rem;
  width: 23.9rem;
}
/* line 189, ../sass/main.scss */
header:after {
  right: 0;
  background: url(../images/header-elli.png);
  height: 21.1rem;
  width: 18.85rem;
}
@media screen and (max-width: 767px) {
  /* line 189, ../sass/main.scss */
  header:after {
    content: none;
  }
}

/* line 201, ../sass/main.scss */
.navbar {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 2rem;
  padding: 0.5rem 0;
}
/* line 208, ../sass/main.scss */
.navbar a:hover {
  color: #1eb8f4;
}
@media screen and (max-width: 767px) {
  /* line 201, ../sass/main.scss */
  .navbar {
    margin-bottom: 0;
  }
}

/* line 218, ../sass/main.scss */
.nav-list {
  width: 100%;
  margin-bottom: 0;
  color: #c1c1c1;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
/* line 225, ../sass/main.scss */
.nav-list li {
  font-size: 0.6rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* line 233, ../sass/main.scss */
.right-nav {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
/* line 237, ../sass/main.scss */
.right-nav li {
  padding: 0 1rem;
}

/* line 242, ../sass/main.scss */
#scroll-projects {
  position: relative;
  z-index: 10;
}

/* line 247, ../sass/main.scss */
.scroll-down {
  display: block;
  width: 2.6rem;
  height: auto;
  margin: 0 auto;
  padding: 3.5rem 0;
}
@media screen and (max-width: 767px) {
  /* line 247, ../sass/main.scss */
  .scroll-down {
    width: 2rem;
    padding: 2.5rem 0;
  }
}

/* line 262, ../sass/main.scss */
section {
  padding: 2rem 0;
}

/* line 266, ../sass/main.scss */
.project {
  margin-bottom: 5rem;
}
/* line 269, ../sass/main.scss */
.project img {
  display: block;
  width: 100%;
  height: auto;
  padding: 0.5rem 0;
}
/* line 276, ../sass/main.scss */
.project .project-hero {
  margin-bottom: 1rem;
  display: block;
  width: 100%;
  height: auto;
  padding: 2rem 0;
}

/* line 287, ../sass/main.scss */
.project-heading {
  margin-top: 2rem;
}
/* line 290, ../sass/main.scss */
.project-heading h3 {
  font-style: italic;
}

/* line 295, ../sass/main.scss */
.content {
  width: 85%;
  max-width: 800px;
}
/* line 299, ../sass/main.scss */
.content ul {
  margin-left: 2rem;
  list-style-type: disc;
  list-style-position: outside;
}
@media screen and (max-width: 767px) {
  /* line 295, ../sass/main.scss */
  .content {
    width: 100%;
  }
}

/* line 312, ../sass/main.scss */
footer {
  padding: 2.5rem 0;
  border-top: 5px solid #1eb8f4;
  background-color: #3f3f3f;
}

/* line 318, ../sass/main.scss */
.footer {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  /* line 318, ../sass/main.scss */
  .footer {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

/* line 328, ../sass/main.scss */
.footer-col {
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  /* line 328, ../sass/main.scss */
  .footer-col {
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-bottom: 1rem;
  }
}
/* line 339, ../sass/main.scss */
.footer-col h4 {
  color: #c1c1c1;
}
/* line 343, ../sass/main.scss */
.footer-col img {
  width: 1.65rem;
  height: auto;
  padding-right: 0.7rem;
}
@media screen and (max-width: 767px) {
  /* line 343, ../sass/main.scss */
  .footer-col img {
    padding: 1rem;
  }
}
